*{
box-sizing: border-box;
  padding: 0;
  margin: 0 ;
}

.container{
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.klb{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow:2px 1px 2px #00b3ff ;
}
.fds{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow:2px 1px 2px #11bb6c
}

.trw{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow:2px 1px 2px #a12fc1
}

.hda{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow:2px 1px 2px #1188bb
}
.xsa{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow:2px 1px 2px #bb6311
}
.trds{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow:2px 1px 2px #a7bb11
}